main {
  padding: 20px;
  padding-top: 80px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

a {
  list-style: none;
  text-decoration: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
